<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>KHProject1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>CommAddCtlr</servlet-name>
  	<servlet-class>CommentP.Controller.CommAddCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CommAddCtlr</servlet-name>
  	<url-pattern>/CommAddCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CommDeleteCtlr</servlet-name>
  	<servlet-class>CommentP.Controller.CommDeleteCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CommDeleteCtlr</servlet-name>
  	<url-pattern>/CommDeleteCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CommListCtlr</servlet-name>
  	<servlet-class>CommentP.Controller.CommListCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CommListCtlr</servlet-name>
  	<url-pattern>/CommListCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CommUpdateCtlr</servlet-name>
  	<servlet-class>CommentP.Controller.CommUpdateCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CommUpdateCtlr</servlet-name>
  	<url-pattern>/CommUpdateCtlr</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>FestiAddCtlr</servlet-name>
  	<servlet-class>FestiCalendar.Controller.FestiAddCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FestiAddCtlr</servlet-name>
  	<url-pattern>/FestiAddCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>FestiDeleteCtlr</servlet-name>
  	<servlet-class>FestiCalendar.Controller.FestiDeleteCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FestiDeleteCtlr</servlet-name>
  	<url-pattern>/FestiDeleteCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>FestiDetailCtlr</servlet-name>
  	<servlet-class>FestiCalendar.Controller.FestiDetailCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FestiDetailCtlr</servlet-name>
  	<url-pattern>/FestiDetailCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>FestiListCtlr</servlet-name>
  	<servlet-class>FestiCalendar.Controller.FestiListCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FestiListCtlr</servlet-name>
  	<url-pattern>/FestiListCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>FestiUpdateCtlr</servlet-name>
  	<servlet-class>FestiCalendar.Controller.FestiUpdateCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FestiUpdateCtlr</servlet-name>
  	<url-pattern>/FestiUpdateCtlr</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>InfoCLikeitCtlr</servlet-name>
  	<servlet-class>InfoCntry.Controller.InfoCLikeitCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>InfoCLikeitCtlr</servlet-name>
  	<url-pattern>/InfoCLikeitCtlr</url-pattern>
  </servlet-mapping>
  	
  <servlet>
  	<servlet-name>PerCAddCtlr</servlet-name>
  	<servlet-class>PerCalendar.Controller.PerCAddCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PerCAddCtlr</servlet-name>
  	<url-pattern>/PerCAddCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>PerCDeleteCtlr</servlet-name>
  	<servlet-class>PerCalendar.Controller.PerCDeleteCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PerCDeleteCtlr</servlet-name>
  	<url-pattern>/PerCDeleteCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>PerCDetailCtlr</servlet-name>
  	<servlet-class>PerCalendar.Controller.PerCDetailCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PerCDetailCtlr</servlet-name>
  	<url-pattern>/PerCDetailCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>PerCListCtlr</servlet-name>
  	<servlet-class>PerCalendar.Controller.PerCListCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PerCListCtlr</servlet-name>
  	<url-pattern>/PerCListCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>PerCUpdateCtlr</servlet-name>
  	<servlet-class>PerCalendar.Controller.PerCUpdateCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PerCUpdateCtlr</servlet-name>
  	<url-pattern>/PerCUpdateCtlr</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>PicAddCtlr</servlet-name>
  	<servlet-class>PicBbs.Controller.PicAddCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PicAddCtlr</servlet-name>
  	<url-pattern>/PicAddCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>PicDeleteCtlr</servlet-name>
  	<servlet-class>PicBbs.Controller.PicDeleteCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PicDeleteCtlr</servlet-name>
  	<url-pattern>/PicDeleteCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>PicDetailCtlr</servlet-name>
  	<servlet-class>PicBbs.Controller.PicDetailCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PicDetailCtlr</servlet-name>
  	<url-pattern>/PicDetailCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>PicListCtlr</servlet-name>
  	<servlet-class>PicBbs.Controller.PicListCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PicListCtlr</servlet-name>
  	<url-pattern>/PicListCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>PicSearchCtlr</servlet-name>
  	<servlet-class>PicBbs.Controller.PicSearchCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PicSearchCtlr</servlet-name>
  	<url-pattern>/PicSearchCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>PicUpdateCtlr</servlet-name>
  	<servlet-class>PicBbs.Controller.PicUpdateCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PicUpdateCtlr</servlet-name>
  	<url-pattern>/PicUpdateCtlr</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>QaAddCtlr</servlet-name>
  	<servlet-class>QABbs.Controller.QaAddCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QaAddCtlr</servlet-name>
  	<url-pattern>/QaAddCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>QaDeleteCtlr</servlet-name>
  	<servlet-class>QABbs.Controller.QaDeleteCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QaDeleteCtlr</servlet-name>
  	<url-pattern>/QaDeleteCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>QaDetailCtlr</servlet-name>
  	<servlet-class>QABbs.Controller.QaDetailCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QaDetailCtlr</servlet-name>
  	<url-pattern>/QaDetailCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>QaListCtlr</servlet-name>
  	<servlet-class>QABbs.Controller.QaListCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QaListCtlr</servlet-name>
  	<url-pattern>/QaListCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>QaSearchCtlr</servlet-name>
  	<servlet-class>QABbs.Controller.QaSearchCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QaSearchCtlr</servlet-name>
  	<url-pattern>/QaSearchCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>QaUpdateCtlr</servlet-name>
  	<servlet-class>QABbs.Controller.QaUpdateCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QaUpdateCtlr</servlet-name>
  	<url-pattern>/QaUpdateCtlr</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>ReferAddCtlr</servlet-name>
  	<servlet-class>ReferRoom.Controller.ReferAddCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ReferAddCtlr</servlet-name>
  	<url-pattern>/ReferAddCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ReferDeleteCtlr</servlet-name>
  	<servlet-class>ReferRoom.Controller.ReferDeleteCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ReferDeleteCtlr</servlet-name>
  	<url-pattern>/ReferDeleteCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ReferDetailCtlr</servlet-name>
  	<servlet-class>ReferRoom.Controller.ReferDetailCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ReferDetailCtlr</servlet-name>
  	<url-pattern>/ReferDetailCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ReferDownCtlr</servlet-name>
  	<servlet-class>ReferRoom.Controller.ReferDownCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ReferDownCtlr</servlet-name>
  	<url-pattern>/ReferDownCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ReferListCtlr</servlet-name>
  	<servlet-class>ReferRoom.Controller.ReferListCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ReferListCtlr</servlet-name>
  	<url-pattern>/ReferListCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ReferSearchCtlr</servlet-name>
  	<servlet-class>ReferRoom.Controller.ReferSearchCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ReferSearchCtlr</servlet-name>
  	<url-pattern>/ReferSearchCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ReferUpdateCtlr</servlet-name>
  	<servlet-class>ReferRoom.Controller.ReferUpdateCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ReferUpdateCtlr</servlet-name>
  	<url-pattern>/ReferUpdateCtlr</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>UserAddCtlr</servlet-name>
  	<servlet-class>User.Controller.UserAddCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserAddCtlr</servlet-name>
  	<url-pattern>/UserAddCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UserDeleteCtlr</servlet-name>
  	<servlet-class>User.Controller.UserDeleteCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserDeleteCtlr</servlet-name>
  	<url-pattern>/UserDeleteCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UserDetailCtlr</servlet-name>
  	<servlet-class>User.Controller.UserDetailCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserDetailCtlr</servlet-name>
  	<url-pattern>/UserDetailCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UserLoginCtlr</servlet-name>
  	<servlet-class>User.Controller.UserLoginCtlr</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserLoginCtlr</servlet-name>
  	<url-pattern>/UserLoginCtlr</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UserUpdate</servlet-name>
  	<servlet-class>User.Controller.UserUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserUpdate</servlet-name>
  	<url-pattern>/UserUpdate</url-pattern>
  </servlet-mapping>

</web-app>